#encoding UTF-8
                     MONTHLY CLIMATOLOGICAL SUMMARY
                          $month_name $year_name

Station: $station.location
Latitude: $station.latitude[0]° $station.latitude[1]' $station.latitude[2]    Longitude: $station.longitude[0]° $station.longitude[1]' $station.longitude[2]    Altitude: $station.altitude

      Temperature ($unit.label.outTemp.strip())                    Rain ($unit.label.rain.strip())  Wind ($unit.label.windSpeed.strip())
      Mean
Day   Temp    High   Time     Low   Time    Total    Avg    High   Time   Dir
------------------------------------------------------------------------------
#for $day in $month.days
#if $day.outTemp.count.raw
$day.dateTime.format("%d")  $day.outTemp.avg.nolabel("%6.1f","   N/A") $day.outTemp.max.nolabel("%7.1f","    N/A")  $day.outTemp.maxtime.format("%H:%M") $day.outTemp.min.nolabel("%7.1f","    N/A") $day.outTemp.mintime.format("%H:%M") $day.rain.sum.nolabel("%8.1f","     N/A") $day.windSpeed.avg.nolabel("%6.1f","   N/A") $day.windGust.max.nolabel("%7.1f","    N/A")  $day.windGust.maxtime.format("%H:%M") $day.wind.vecdir.ordinal_compass
#end if
#end for
------------------------------------------------------------------------------
Mean temperature: $month.outTemp.avg.formatted $unit.label.outTemp.strip()
Highest: $month.outTemp.max.formatted $unit.label.outTemp.strip() on $month.outTemp.maxtime.format("%d %b")
Lowest: $month.outTemp.min.formatted $unit.label.outTemp.strip() on $month.outTemp.mintime.format("%d %b")
Total rain: $month.rain.sum.formatted $unit.label.rain.strip()
Highest wind gust: $month.windGust.max.formatted $unit.label.windSpeed.strip() on $month.windGust.maxtime.format("%d %b")

Generated by weewx / Nordlys
