#encoding UTF-8
                      YEARLY CLIMATOLOGICAL SUMMARY
                                $year_name

Station: $station.location
Latitude: $station.latitude[0]° $station.latitude[1]' $station.latitude[2]    Longitude: $station.longitude[0]° $station.longitude[1]' $station.longitude[2]    Altitude: $station.altitude

       Temperature ($unit.label.outTemp.strip())                   Rain ($unit.label.rain.strip())  Wind ($unit.label.windSpeed.strip())
       Mean
Month  Temp    High   Date     Low   Date    Total    Avg    High   Date   Dir
-------------------------------------------------------------------------------
#for $m in $year.months
#if $m.outTemp.count.raw
$m.dateTime.format("%b")  $m.outTemp.avg.nolabel("%7.1f","    N/A") $m.outTemp.max.nolabel("%7.1f","    N/A")    $m.outTemp.maxtime.format("%d") $m.outTemp.min.nolabel("%7.1f","    N/A")    $m.outTemp.mintime.format("%d") $m.rain.sum.nolabel("%8.1f","     N/A") $m.windSpeed.avg.nolabel("%6.1f","   N/A") $m.windGust.max.nolabel("%7.1f","    N/A")    $m.windGust.maxtime.format("%d") $m.wind.vecdir.ordinal_compass
#end if
#end for
-------------------------------------------------------------------------------
Mean temperature: $year.outTemp.avg.formatted $unit.label.outTemp.strip()
Highest: $year.outTemp.max.formatted $unit.label.outTemp.strip() on $year.outTemp.maxtime.format("%d %b")
Lowest: $year.outTemp.min.formatted $unit.label.outTemp.strip() on $year.outTemp.mintime.format("%d %b")
Total rain: $year.rain.sum.formatted $unit.label.rain.strip()
Highest wind gust: $year.windGust.max.formatted $unit.label.windSpeed.strip() on $year.windGust.maxtime.format("%d %b")

Generated by weewx / Nordlys
